{% extends 'autenticacao/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'autenticacao/signin.css' %}">
{% endblock %}

{% block body %}
    <!-- <img id="background-principal" src="{% static 'images/background-principal.png' %}" alt="background"> -->
    <img id="logo" src="{% static 'images/factLogo.png' %}" alt="background">
    
    <div class="container-login">
        <h1>Login</h1>
        
        <form method="POST">
            {% csrf_token %}
            <div class='login'>
                <h2>E-mail</h2>
                <input placeholder="Digite seu e-mail" type="text" name="username">
            </div>    
            <div class='password'>
                <h2>Senha</h2>
                <input placeholder="Digite sua senha" type="password" name="password">
            </div>    
            <button>Entrar</button>
        </form>

        {% if messages %}
            {% for message in messages %}
                <div class="">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}