:root {
    --soft-blue: #4161D8;
    --blue: #1E46D9;
    --blueHover: #1c3ebb;
    --yellow: #F7B401;
    --yellowHover: #d69d00;
    --red-200: #fecaca;
    --red-300: #fca5a5;
    --red-600: #dc2626;
    --redHover: #c02600;
    --beige: #F0EBE5;
    --beigeHover: #efe0ce;
    --black: #292B26;
    --blackHover: rgb(16, 16, 15);
}

* {
    box-sizing: border-box;
}

main {
    flex: 1 1 0%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    background-color: #F9F6F3;
}

.error {
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
    color: var(--red-600);
    margin: 1rem 0;
}

.background {
    opacity: 50%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url("/static/images/background-principal.png") repeat;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1rem;
}

.container > h2 {
    color: var(--black);
    font-size: 2rem;
}

.upperButtons{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    height: 48px;
    padding-left: 1rem;
 }

#addGroup, #addStudent {
    border: none;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 10px;
    padding: 11.5px 19.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: var(--soft-blue);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

#addGroup:hover, #addStudent:hover {
    background-color: var(--blueHover);
}

.upload {
    width: 100%;
    border: 2px dashed rgba(0, 0, 0, 0.4);
    color: rgb(156, 156, 156);
    background-color: white;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 200px;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 4px;
    margin: 0.7rem auto;
    padding: 4px;
    border-radius: 0.7rem;
}

.tabs > button{
    font-size: 20px;
}

.tab {
    padding: 4px 8px;
    border-radius: 0.25rem;
    background: none;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.tab.active {
    background-color: var(--soft-blue);
    color: white;
    border-radius: 0.5rem;
}

#upload-excel, #add-manually {
    display: none;
}

#upload-excel.active, #add-manually.active {
    display: flex;
}

.currentFile {
    border-radius: 0.5rem;
    padding: 16px;
    color: var(--black);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

#mensagemDeDelete{
    display: none;
}

.group {
    position: relative;
    text-decoration: none;
    width: auto;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 1rem;
}

.group > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 1.2rem;
}

.group > div > a {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    font-size: 25px;
}

.group > div > p {
    text-decoration: underline;
}

.img {
    width: 100%;
    min-width: 16rem;
    display: flex;
    justify-content: center;
    background-color: #EBE2D8;
    border-radius: 1rem;
}

.img >  img {
    height: 100%;
    object-fit: cover;
}



.group > div > p {
    font-size: 1.2rem;
}




















.popover-container {
    right: 1rem;
    bottom: 1rem;
}

.popover-trigger {
    border: none;
    background: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 150ms ease-in-out;
    border-radius: 0.5rem;
    z-index: 50;
}

.popover-button:hover {
    background: white;
}

.popover-content {
    position: absolute;
    left: 85%;
    min-width: 10rem;
    display: flex;
    flex-direction: column;
   /* gap: 4px; */
    border-radius: 0.7rem;
    background-color: #F0EBE5;
    border-color: #B9AD9E;
    padding: 4px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
    transition: all 150ms ease-in-out;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
}

.popover-content.active {
    opacity: 1;
    pointer-events: all;
}

.popover-content > h3 {
    font-size: 1.1rem;
    margin: 0.3rem 0;
    margin-left: 0.8rem;
}

.popover-content > hr {
    margin: 0 -4px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.popover-button {
    border: none;
    font-weight: 500;
    font-size: 14px;
    color: var(--black);
    background: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 8px;
    border-radius: 0.125rem;
    cursor: pointer;
    /* transition: all 150ms ease-in-out; */
}

.delete {
    color: var(--red-600);
}

.delete:hover {
    background-color: var(--red-200);
}

.delete-group {
    text-decoration: none;
    padding: .5rem 1rem;
    background-color: var(--red-200);
    color: var(--red-600);
    border-radius: .5rem;
    transition: all 150ms ease-in-out;
}

.delete-group:hover {
    background-color: var(--red-300);
}

.gerenciar:hover {
    background-color: rgba(200, 200, 200, 0.2);
}

.gerenciar-group:hover{
    background-color: grey;
}

#editGroup{
    color: yellow;
}

.temBorda{
    border: 2px solid white;
    border-radius: 5%;
}