:root {
    --soft-blue: #4161D8;
    --blue: #1E46D9;
    --blueHover: #1c3ebb;
    --yellow: #F7B401;
    --yellowHover: #d69d00;
    --red: #D72C00;
    --redHover: #c02600;
    --beige: #F0EBE5;
    --beigeHover: #efe0ce;
    --black: #292B26;
    --blackHover: rgb(16, 16, 15);

    --zinc-100: #f4f4f5;
    --zinc-300: #d4d4d8;
    --zinc-500: #71717a;

    --cremeQuaseBranco: #F9F6F3;

    --amareloSoft: #F7BA19;
}

main {
    flex: 1 1 0%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    background-color: #F9F6F3;
}

hr {
    height: 1px;
    color: var(--zinc-300);
    background-color: var(--zinc-300);
    border: none;
}

h1 {
    font-size: 3rem;
    color: var(--black);
}

form {
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

form > button {
    max-width: fit-content;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

form > button:hover {
    background-color: var(--blueHover);
}

#uploadfile {
    padding: 2.5rem;
    cursor: pointer;
    width: 40rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: var(--black);
    background-color: white;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
}

#uploadfile > svg {
    margin: auto 0;
}

#uploadfile > div {
    width: 100%;
    height: 3.75rem;
    display: flex;
    align-items: center;
    background-color: var(--beige);
    border-radius: 10px;
    border: none;
}

.background {
    opacity: 50%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url("/static/images/background-principal.png") repeat;
}

.currentFile {
    padding: 1rem;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 0.5rem;
}

.alunos-container {
    max-width: 1180px;
    min-width: 1180px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
}

.notas-aluno {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.notas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notas > h5 {
    font-size: 14px;
    font-weight: 600;
    color: var(--zinc-500);
}

.notas > p {
    font-size: 30px;
    color: black;
}

.notas-aluno > hr {
    width: 1px;
    height: 48px;
    border-left: 2px solid var(--zinc-500);
}

.aluno {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.aluno > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.lucide-loader-circle {
    color: var(--zinc-500)
}

.groupHeader{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.myGroupButtons{
    display: flex;
    gap: 1.5rem;
}

.detalhesLowerButtons{
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;
}

.detalhesLowerButtons > button{
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    padding: 2px 35px;

}

#editarAluno{
    color: white;
    background-color: var(--amareloSoft);
}

#maisDetalhes{

    background-color: var(--cremeQuaseBranco);
    color: black;

}

.myGroupButtons > button{

    padding: 11.5px 28px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background-color: var(--soft-blue);
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.myGroupButtons > button:hover{
    background-color: var(--blue);
}


#toEdit{
    background-color: var(--amareloSoft);
}

#toEdit:hover{
    background-color: var(--yellowHover);
}

details {
    padding: 16px 32px;
    border-radius: 10px;
    background-color: var(--beige);
}

details > summary {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

details > summary > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

details[open] summary ~ * {
    animation: fade 500ms ease-in-out;
}

details[open] > summary {
    margin-bottom: 1rem;
}

summary::marker {
    content: none;
}

@keyframes fade {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}
