:root {
    --beige: #F0EBE5;
    --beigeHover: #efe0ce;
    --blue: #1E46D9;
    --blueHover: #1c3ebb;
    --yellow: #F7B401;
    --yellowHover: #d69d00;
    --red: #D72C00;
    --redHover: #c02600;
    --beige: #F0EBE5;
    --beigeHover: #efe0ce;
    --black: #292B26;
    --blackHover: rgb(16, 16, 15);
}

* {
    font-family: "Lexend Deca", sans-serif;
}

.addGroup-modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99999;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;
    opacity: 0;
}

.addGroup-modal.active {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99999;
    pointer-events: all;
    background-color: #181818b0;
    backdrop-filter: blur(0.5rem);
    opacity: 1;
}

.addGroup-modal > div {
    background-color: var(--beige);
    border-radius: 1rem;
    width: 30rem;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.addGroup-modal > div > button {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: auto;
}

.addGroup-modal > div > form {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.addGroup-modal > div > form > input {
    border: none;
    background: var(--beigeHover);
    border-radius: 1rem;
    width: auto;
    max-width: 100%;
    font-size: 1rem;
    resize: none;
    padding: 1rem;
}

.addGroup-modal > div > form > label {
    cursor: pointer;
}

.addGroup-modal > div > form > button {
    background: var(--beigeHover);
    cursor: pointer;
    border: none;
    padding: 1rem;
    width: auto;
    max-width: fit-content;
    margin-top: 1rem;
    margin-left: auto;
    height: auto;
    border-radius: 0.5rem;
    transition: all 150ms ease-in-out;
}

.addGroup-modal > div > form > button:hover {
    background: #cec0b0;
}

.deleteGroup-modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99999;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;
    opacity: 0;
}

.deleteGroup-modal.active {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99999;
    pointer-events: all;
    background-color: #181818b0;
    backdrop-filter: blur(0.5rem);
    opacity: 1;
}

.deleteGroup-modal > div {
    background-color: var(--beige);
    border-radius: 1rem;
    width: 30rem;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.deleteGroup-modal > div > button {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: auto;
}

.deleteGroup-modal > div > form {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.deleteGroup-modal > div > form > input {
    border: none;
    background: var(--beigeHover);
    border-radius: 1rem;
    width: auto;
    max-width: 100%;
    font-size: 1rem;
    resize: none;
    padding: 1rem;
}

.deleteGroup-modal > div > form > label {
    cursor: pointer;
}

.deleteGroup-modal > div > form > button {
    background: var(--beigeHover);
    cursor: pointer;
    border: none;
    padding: 1rem;
    width: auto;
    max-width: fit-content;
    margin-top: 1rem;
    margin-left: auto;
    height: auto;
    border-radius: 0.5rem;
    transition: all 150ms ease-in-out;
}

.deleteGroup-modal > div > form > button:hover {
    background: #cec0b0;
}


.export-modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99999;
    
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;
    
    backdrop-filter: blur(0.5rem);
}


.export-modal > div{
    background-color: var(--beige);
    border-radius: 1rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: space-between;
    
}

.export-modal > div > div{
    display: flex;
    flex-direction: column;
    height: 8rem;
    margin-bottom:10%;
    justify-content: space-between;
}

.statusReportButton{

    background-color: var(--blue);
    border-radius: 1rem;
    padding: 5%;
    color: var(--beige);
    

}

#cancel{
    background-color: var(--red);
    border-radius: 1rem;
    padding: 5%;
    margin:10%;
    z-index: 99999;


}
/* lets turn these two ^ v  into classes later */
#cancel2{
    background-color: var(--red);
    border-radius: 1rem;
    padding: 5%;
    margin:10%;
    z-index: 99999;


}

.editar-modal{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99999;
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;

    backdrop-filter: blur(0.5rem);
}

.editar-modal > div{
    background-color: var(--beige);
    height: 20rem;
    width: 20rem;
    border-radius:1rem;
}

.upper-editar-modal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:40px;
    margin-right:40px;
    margin-top:25px;
    

}
.upper-editar-modal > button{
    margin-left:5px;
    padding: 5px;
    border-radius: 1rem;
    padding: 5%;
    box-shadow: none;

}

#deletarAluno{
    background-color: var(--red);
    color: white;
    box-shadow: 0px 0px 0px 0px red;
}

#displayDeAlunos{

    display: flex;
    flex-direction:column;
    margin: -25% 0% 0% 12%; /* mudar esse nmargin*/
    justify-content: space-between;
    padding:5% 0% 5% 0%;
    gap: 0.5rem;

}


#save{
    background-color: var(--blue);
    color: white;
    box-shadow: 0px 0px 0px 0px red;
    border-radius: 1rem;
    padding: 5%;
    margin:10%;
    z-index: 99999;
}



.meuNomeDoAluno{
    border-radius: 0.5rem;
    width: 15rem;
    height: 2rem;
    color:blue;
}