:root {
    --beige: #F0EBE5;
    --beigeHover: #efe0ce;
    --soft-blue: #4161D8;
    --blue: #1E46D9;
    --blueHover: #1c3ebb;
    --yellow: #F7B401;
    --yellowHover: #d69d00;
    --red: #D72C00;
    --redHover: #c02600;
    --black: #292B26;
    --blackHover: rgb(16, 16, 15);
    --zinc400: #a1a1aa;
    --zinc200: #e4e4e7;
    --cream: #F9F6F3;
}

::-webkit-scrollbar {
    display: none;
    background-color: red;
    color: red;
}

* {
    font-family: "Lexend Deca", sans-serif;
}

.modal-root {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99999;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;
    opacity: 0;
}

.modal-root.active {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99999;
    pointer-events: all;
    background-color: #181818b0;
    backdrop-filter: blur(0.5rem);
    opacity: 1;
}

.modal-root > div {
    background-color: var(--beige);
    border-radius: 1rem;
    width: 30rem;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-root > div > button {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: auto;
}

.modal-root > div > form {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modal-root > div > form > input {
    border: none;
    background: white;
    border-radius: 1rem;
    width: auto;
    max-width: 100%;
    font-size: 1rem;
    resize: none;
    padding: 1rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.modal-root > div > form > label {
    cursor: pointer;
}

.modal-root > div > form > button {
    background: var(--soft-blue);
    color: white;
    cursor: pointer;
    border: none;
    padding: 1rem;
    width: auto;
    max-width: fit-content;
    margin-top: 1rem;
    margin-left: auto;
    height: auto;
    border-radius: 0.5rem;
    transition: all 150ms ease-in-out;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.modal-root > div > form > button:hover {
    background: var(--blueHover);
}

.delete-actions-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.delete-actions-container > button {
    border: none;
    background: none;
    font-size: 14px;
    cursor: pointer;
}

.export-modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99999;
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;
    
    backdrop-filter: blur(0.5rem);
}

.exportar-modal-content{
    background-color: var(--beige);
    padding: 2rem;
    width: 369px;
    border-radius:1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

.exportar-modal-content > h2{
    font-size: 26px;
    margin: auto;
}

.exportar-modal-content > button{
    border-radius:1rem;
    background-color: var(--soft-blue);
    color:white;
    padding:5%;
    height: 48px;
    width:200px;
    margin: auto;
    font-size:20px;
    
    /* pro texto do botão ficar alinhado:*/
    display: inline-flex;
    align-items:center;
    justify-content:center;
}


#fact1, #fact2 {
    background-color: var(--soft-blue); /* cor de fundo */
    color: white; /* cor do texto */
    padding: 10px 20px; /* espaçamento interno */
    border-radius: 5px; /* bordas arredondadas */
    border: none; /* sem borda */
    cursor: pointer; /* cursor como ponteiro */
    transition: background-color 0.3s; /* transição suave para hover */
}

#fact1:hover, #fact2:hover {
    background-color: var(--blueHover); /* cor de fundo ao passar o mouse */
}


#cancelExport{
    background-color: var(--cream);
    color:black;
    width:122px;
    border-radius: 10px;
    padding: 11.5px 19.5px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 150ms ease-in-out;

}


#cancelExport:hover{
    background-color: white;
}



button{
    border:none;
}



#cancel-editar{
    background-color: #F9F6F3;
    border-radius: 10px;
    padding: 11.5px 19.5px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

#cancel-editar:hover{
    background-color: white;
}

#save{
    background-color: var(--soft-blue);
    color: white;
    border-radius: 10px;
    padding: 11.5px 19.5px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

#save:hover {
    background-color: var(--blue);
}

.editar-modal{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99999;
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;
    backdrop-filter: blur(0.5rem);
}

.bottom-editar-modal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.editar-modal-content{
    background-color: var(--beige);
    padding: 2rem;
    width: 668px;
    border-radius:1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

.upper-editar-modal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#adicionarAluno{
    display: flex;
    background-color: var(--cream);
    cursor: pointer;
    color: var(--black);
    border-radius: 10px;
    font-size: 20px;
    padding: 11.5px 27px;
}

#deletarAluno{
    display: flex;
    background-color: var(--cream);
    cursor: pointer;
    color: var(--black);
    border-radius: 10px;
    font-size: 20px;
    padding: 11.5px 27px;
}


#remover-confirmation{
    display: none; /* confirmations should only be displayed when certain modes have been activated for the modal(adicionar ou remover) */ 
    background-color: var(--red); 
    color: white;
    border-radius: 10px;
    padding: 11.5px 19.5px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

#remover-confirmation:hover{
    background-color: var(--redHover);
}

#adicionar-confirmation{
   display:none;
   background-color: var(--soft-blue);
   color: white;
   border-radius: 10px;
   padding: 11.5px 19.5px;
   cursor: pointer;
   transition: all 150ms ease-in-out;
}

#adicionar-confirmation:hover{
    background-color: var(--blue);
}

.modalTitleAndSubtitle > h3{
    display: none; /* Assim como as confirmações, desejo esconder as descrições de adicionar ou remover até que sejam selecionados*/
}

#displayDeAlunos{
    display: flex;
    flex-direction:column;
    height: 16.25rem;
    justify-content: space-between;
    gap: 1rem;
    overflow-y:auto;
}

#displayDeAlunos::-webkit-scrollbar {
    display: none;
}

.textBoxNovoAluno{
    display: none;
}

.aluno-unit{
    border-radius: 0.5rem;
    width: 100%;
    padding: 12px;
    color: var(--zinc400);
    text-decoration: none;
    background-color: white; 
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
    border-color:#1c3ebb;
}

.modalTitleAndSubtitle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    gap:10px;
}

.modalTitleAndSubtitle > h2{
    margin: auto;
}

.modalTitleAndSubtitle > h4{
    margin: auto;
    color: var(--zinc400);
}

.aluno-to-be-added{
    color: blue;
}

