:root {
    --blue: #1E46D9;
    --blueHover: #1c3ebb;
    --yellow: #F7B401;
    --yellowHover: #d69d00;
    --red: #D72C00;
    --redHover: #c02600;
    --beige: #F0EBE5;
    --beigeHover: #efe0ce;
    --black: #292B26;
    --blackHover: rgb(16, 16, 15);
}

::-webkit-scrollbar {
    display: none;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex: 1 1 0%;
    overflow-y: auto;
}

header {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Distribute items evenly */
    gap: 4rem;
    padding: 1rem 3rem;
    width: 100%;
    height: 150px;
    background-color: #efe0ce51;
}

header > a {
    height: 80%;
}

header > a > img {
    height: 100%;
}

aside {
    height: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 15rem;
    max-width: 15rem;
    padding: 3rem;
}

aside > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

aside > div > p {
    text-transform: capitalize;
    font-size: 1.5rem;
    color: white;
}

.logout {
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}

.logout:hover {
    background-color: var(--redHover);
}