{% extends 'feedbackApp/base.html' %}
{% load static %}

{% block head%}
    <link rel="stylesheet" href="{% static 'feedbackApp/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'feedbackApp/css/modal.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="upperButtons">
            <button id="addGroup">
                Adicionar Grupo
            </button>
            <button id="addStudent">
                Adicionar Alunos
            </button>
        </div>
        
        <div class="content">
            {% if groups %}
                {% for group in groups %}
                    <div class="group" data-href="{% url 'feedbackApp:group' id=group.id %}">
                        <div class="img">
                            <img class = "imagemDoGrupo" src="{% static 'images/factLogo.png' %}" alt="FACT">
                        </div>
                        <a href="{% url 'feedbackApp:group' id=group.id %}">{{group.nome}}</a>
                        <div class="popover-container">
                            <button id="{{group.id}}" class="popover-button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ellipsis-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>
                            </button>

                            <div data-groupid="{{group.id}}" class="popover-content">
                                <h3>{{group.nome}}</h3>

                                <hr>
                                
                                <button data-groupid="{{group.id}}" class="delete-group">
                                    Deletar
                                    <svg width="20" height="20" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.5 6H5.5H21.5" stroke="#dc2626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M19.5 6V20C19.5 20.5304 19.2893 21.0391 18.9142 21.4142C18.5391 21.7893 18.0304 22 17.5 22H7.5C6.96957 22 6.46086 21.7893 6.08579 21.4142C5.71071 21.0391 5.5 20.5304 5.5 20V6M8.5 6V4C8.5 3.46957 8.71071 2.96086 9.08579 2.58579C9.46086 2.21071 9.96957 2 10.5 2H14.5C15.0304 2 15.5391 2.21071 15.9142 2.58579C16.2893 2.96086 16.5 3.46957 16.5 4V6" stroke="#dc2626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                                <button data-groupid = "{{group.id}}" data-groupname = "{{group.nome}}" data-professor = "{{group.professor}}" class = "gerenciar-group">
                                    Gerenciar
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-handshake">
                                        <path d="m11 17 2 2a1 1 0 1 0 3-3"/>
                                        <path d="m14 14 2.5 2.5a1 1 0 1 0 3-3l-3.88-3.88a3 3 0 0 0-4.24 0l-.88.88a1 1 0 1 1-3-3l2.81-2.81a5.79 5.79 0 0 1 7.06-.87l.47.28a2 2 0 0 0 1.42.25L21 4"/>
                                        <path d="m21 3 1 11h-2"/>
                                        <path d="M3 3 2 14l6.5 6.5a1 1 0 1 0 3-3"/>
                                        <path d="M3 4h8"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </main>

    <div class="modal-root">
        <div>
            <button class="close-modal">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg> 
            </button>

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="addGroup">
                <label for="name">Nome do Grupo</label>
                <input id="name" name="groupName" placeholder="Nome do grupo" required></input>

                {% if messages %}
                    {% for message in messages %}
                        <p class="error">
                            {{message}}
                        </p>
                    {% endfor %}
                {% endif %}

                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>

    <div class="modal-root">
        <div>
            <button class="close-modal">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg> 
            </button>
            
            <h2 style="margin-top: -16px;">Adicionar Aluno</h2>

            <div class="tabs">
                <button class="tab active" data-tab="file">
                    Arquivo
                </button>
                <button class="tab" data-tab="manually">
                    Manualmente
                </button>
            </div>

            <form method="post" id="upload-excel" data-tab="file" class="active" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="action" value="addStudent">

                <label for="alunos-upload">Planilha de alunos</label>
                <label for="alunos-upload" class="upload">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-upload"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><polyline points="17 8 12 3 7 8"/><line x1="12" x2="12" y1="3" y2="15"/></svg>
                    <p>Clique para selecionar um arquivo</p>
                </label>
                <input style="display: none;" id="alunos-upload" name="alunos" required type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"></input>

                <button type="submit">Enviar</button>
            </form>

            <form method="post" id="add-manually" data-tab="manually">
                {% csrf_token %}
                <input type="hidden" name="action" value="addStudent">

                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" placeholder="Nome">

                <label for="email School">Email School</label>
                <input type="text" id="email School" name="email-school" placeholder="Email da School">

                <label for="matricula">Matricula</label>
                <input type="text" id="matricula" name="matricula" placeholder="Matrícula">
    
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>

    <div class="modal-root">
        <div>
            <button class="close-modal">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg> 
            </button>
            
            <h2>Deletar Grupo</h2>

            <h4>Voce deseja realmente deletar esse grupo?</h4>

            <div class="delete-actions-container">
                <button class="close-modal">Cancelar</button>
                <a href="" id="delete-group-link" class="delete-group">Deletar</a>
            </div>
        </div>
    </div>

    <div class="modal-root" id="gerenciarGroupModal">
        <div>
            <button class="close-modal">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
            </button>
            <h2 id = "apresentandoGrupo">Gerenciar Grupo</h2>
            <h3 id = "apresentandoProfessor">Esse Grupo foi criado por:</h3>
            <h4>Deseja adicionar alguém à equipe de administração do grupo?</h4>

            <form id = "formParaAdicionarAdmins" name = "action" value = "addAdmin">
                {% csrf_token %}
                
                <label for="user">Selecione um usuário a ser adicionado: </label>
                <select name="usuariosProfessores" id="usuariosProfessores">
                    {% for user in allUsers %}
                        <option value="{{user.id}}">{{user.username}}</option>
                    {% endfor %}
                </select>
                <button id = "botaoDoConfia" type = "submit" teste = "">Confio nessa pessoa! Quero adicioná-la!</button>

            </form>


        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        function toggleAddGroupModal(action) {
            const modal = document.getElementsByClassName("modal-root")[0];
            if(action === "close") {
                modal.classList.remove("active");
                return;
            }
            else if(action === "open") {
                modal.classList.add("active");
                return;
            }

            modal.classList.toggle("active");
        }

        function toggleAddStudentModal(action) {
            const modal = document.getElementsByClassName("modal-root")[1];
            if(action === "close") {
                modal.classList.remove("active");
                return;
            }
            else if(action === "open") {
                modal.classList.add("active");
                return;
            }

            modal.classList.toggle("active");
        }

        function closeModals() {
            const modals = document.querySelectorAll(".modal-root")

            modals.forEach(modal => {
                modal.classList.remove("active");
            });
        }

        document.getElementById("addGroup")?.addEventListener("click", toggleAddGroupModal);
        document.getElementById("addStudent")?.addEventListener("click", toggleAddStudentModal);
        document.querySelectorAll(".close-modal").forEach(close => {
            close.addEventListener("click", closeModals);
        });

        const tabs = document.querySelectorAll(".tab");
        const tabContents = [
            document.getElementById("upload-excel"), 
            document.getElementById("add-manually")
        ];

        upload = document.getElementById("alunos-upload")
        uploadLabel = document.getElementsByClassName("upload")[0]

        upload.addEventListener("change", event => {
            const file = event.target.files[0];
            if(file) {
                uploadLabel.innerHTML = `<div class="currentFile">${file.name}</div>`
            }
        });

        tabs.forEach(btn => {
            btn.addEventListener("click", () => {
                btn.classList.add("active")
                
                tabContents.forEach(content => {
                    if(content.dataset.tab === btn.dataset.tab) {
                        content.classList.add("active");
                        removeActiveTabContent(content.dataset.tab)
                    }
                })

                removeActiveTab(btn.dataset.tab)
            });
        });

        function removeActiveTab(tab) {
            tabs.forEach(btn => {
                if(btn.dataset.tab !== tab) {
                    btn.classList.remove("active")
                }
            })
        }
        function removeActiveTabContent(tab) {
            tabContents.forEach(content => {
                if(content.dataset.tab !== tab) {
                    content.classList.remove("active")
                }
            })
        }
            
        window.addEventListener("load", () => {
            const errors = document.querySelectorAll(".error");

            if(errors.length >= 1) {
                toggleModal("open")
            }
        });

        window.addEventListener("keydown", (key) => {
            if(key.key === "Escape") toggleModal("close");
        });

        function togglePopoverGroup(popoverid) {
            const popoverContents = document.querySelectorAll(".popover-content");

            popoverContents.forEach(content => {
                if(content.dataset.groupid === popoverid) {
                    content.classList.toggle("active");
                }
            });
        }

        const popoverGroupButtons = document.querySelectorAll(".popover-button");
        popoverGroupButtons.forEach(btn => {
            btn.addEventListener("click", () => togglePopoverGroup(btn.id))
        });

        function confirmDeleteGroupPopup(groupId) {
            const modal = document.getElementsByClassName("modal-root")[2];
            modal.classList.toggle("active")

            const deleteGroupLink = document.getElementById("delete-group-link"); 
            const newLink = `/app/group/deleting/${groupId}`;

            deleteGroupLink.setAttribute("href", newLink);
        }

        const deleteGroupButton = document.querySelectorAll(".delete-group");
        deleteGroupButton.forEach(btn => {
            if(!btn.id) {
                btn.addEventListener("click", () => confirmDeleteGroupPopup(btn.dataset.groupid))
            }
        });

        function showGerenciarGroupModal(idDoMeuGrupo, nomeDoMeuGrupo, nomeDoMeuProfessor){
            const modal = document.getElementsByClassName("modal-root")[3];
          
            document.getElementById("apresentandoGrupo").textContent = `Grupo ${nomeDoMeuGrupo}`;
            document.getElementById("apresentandoProfessor").textContent = `Criador do grupo: ${nomeDoMeuProfessor}`;
            document.getElementById("botaoDoConfia").setAttribute("teste", idDoMeuGrupo);
          
            modal.classList.toggle("active");
        }

        document.querySelectorAll(".gerenciar-group").forEach(btn =>{
            let grupoNome = btn.dataset.groupname;
            let grupoId = btn.dataset.groupid;
            let professor = btn.dataset.professor;
            btn.addEventListener("click", () => showGerenciarGroupModal(grupoId, grupoNome, professor));
        });


        document.getElementById("formParaAdicionarAdmins").onsubmit = async function(){
            event.preventDefault();

            let groupId = document.getElementById("botaoDoConfia").getAttribute("teste");
            let valorEscolhido = document.getElementById("usuariosProfessores").value;
            
            await fetch(`addAdminToGroup`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: JSON.stringify({ professorEscolhido: valorEscolhido, group: groupId})
            })
            .then(response => response.json())
            .then(data => location.reload())
            
            
        }


    </script>


{% endblock %}