{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FACT</title>
    <link rel="stylesheet" href="{% static 'feedbackApp/css/root.css' %}">

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">

    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <a href="{% url 'feedbackApp:root' %}">
            <img src="{% static 'images/factLogo.png' %}" height="80" alt="FACT">
        </a>
    </header>
    
    <div id="root">
        {% block content %}{% endblock %}
        
        <aside>
            <div id = "usuario">
                <img class = "temBorda" src="{% static 'images/imagem_padrao.png' %}" height="150" width = "150" alt="FACT">
                <p class="user">{{user}}</p>
                <p class="email">{{user.email}}</p>
            </div>
    
            <a class="logout" href="{% url 'feedbackApp:logout' %}">
                Sair
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
            </a>
        </aside>
    </div>

    {% block script %}{% endblock %}
</body>
</html>
