{% extends 'feedbackApp/base.html' %}
{% load static %}

{% block head%}
    <link rel="stylesheet" href="{% static 'feedbackApp/css/group.css' %}">
    <link rel="stylesheet" href="{% static 'root/styles/animations.css' %}">
    <link rel="stylesheet" href="{% static 'feedbackApp/css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'feedbackApp/css/select.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="export-modal">  
            <div class="exportar-modal-content">
                <h2>Exportar FaCT</h2>
                <button id="fact1">FaCT 1</button>
                <button id="fact2">FaCT 2</button>
                <button id="cancelExport">Cancelar</button>
            </div>
        </div>

        <div class="modal-root">
            <div class="editar-aluno">
                <button class="close-modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg> 
                </button>

                <h3> Editar Aluno </h3>
                <p id="current-aluno"></p>

                <form id="editar-aluno-form" method="post" action="{% url 'feedbackApp:editAluno' %}">
                    {% csrf_token %}
                    <label for="nome-aluno">Nome</label>
                    <input type="text" id="nome-aluno" name="nome" placeholder="Nome">
                    <label for="email-aluno">Email</label>
                    <input type="text" id="email-aluno" name="email" placeholder="email">
                    <label for="matricula-aluno">Matrícula</label>
                    <input type="text" id="matricula-aluno" name="matricula" placeholder="Matrícula">
                    <input type="hidden" name="groupId" value="{{group.id}}">
                    <input type="hidden" id="id-aluno" name="alunoId" value="{{group.id}}">
                    
                    <div>
                        <button type="button" class="cancel-edit">Cancelar</button>
                        <button type="submit" class="save-edit">Salvar</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal-root">
            <div class="enviar-fact">
                <h1>Enviar formulário para os alunos?</h1>
                <div>
                    <button class="cancel-edit" >Cancelar</button>
                    <button id ="confirmFact" >Enviar</button>
                </div>
            </div>
        
        </div>

        <div class="groupHeader">
            <div>
                <a href="{% url 'feedbackApp:root' %}" id="back-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
                </a>
                <h1 id="groupName" data-group-id="{{group.id}}">{{ group.nome }}</h1>
            </div>

            <div class="myGroupButtons">
               <!-- <button id="exportButton">Exportar FACT</button>-->
                <button id="generate-fact">Enviar FACT</button>
                <!-- <button id="toEdit">Editar Grupo</button> -->
                <a href="{% url 'feedbackApp:edit' id=group.id %}">Editar Grupo</a>
            </div>
        </div>

        <div class="alunos-container">
            <h2>Alunos</h2>
            {% for aluno in alunos %}
                <details class="accordions">
                    <summary>
                        {{aluno.nome}}
                        <div id="summary-aluno-{{ forloop.counter0 }}">
                            <svg
                                xmlns="http://www.w3.org/2000/svg" 
                                width="24" 
                                height="24" 
                                viewBox="0 0 24 24" 
                                fill="none" 
                                stroke="currentColor" 
                                stroke-width="2" 
                                stroke-linecap="round" 
                                stroke-linejoin="round" 
                                class="lucide lucide-chevron-down"
                            >
                                <path d="m6 9 6 6 6-6"/>
                            </svg>
                        </div>
                    </summary>
                    <div class="notas-aluno">
                        <div class="notas">
                            <h5>FaCT 1</h5>
                            <p>{{aluno.sr1}}</p>
                        </div>

                        <hr>

                        <div class="notas">
                            <h5>FaCT 2</h5>
                            <p>{{aluno.sr2}}</p>
                        </div>

                        <hr>

                        <div class="notas">
                            <h5>Media Final</h5>
                            <p>{{aluno.media}}</p>
                        </div>
                    </div>
                    <div class="detalhesLowerButtons">
                        <button 
                            class="editarAluno"
                            data-alunoid="{{aluno.id}}"
                            data-nomealuno="{{aluno.nome}}"
                            data-emailaluno="{{aluno.email}}"
                            data-matriculaaluno="{{aluno.matricula}}"
                        >
                            Editar Aluno
                        </button>
                        <button class="maisDetalhes" data-alunoid="{{aluno.id}}">Mais detalhes</button>
                    </div>
                </details>
            {% endfor %}
        </div>
    </main>
{% endblock %}

{% block script %}
    {% if messages %}
        {% for message in messages %}
            <script>
                alert("{{message}}")
            </script>
        {% endfor %}
    {% endif %}
    
    <script>
        const upload=document.getElementById("uploadfileInput");
        const uploadLabel=document.getElementById("uploadfile");

        upload?.addEventListener("change", (event) => {
            const file=event.target.files[0];
            if(file) {
                uploadLabel.innerHTML=`<p class="currentFile">${file.name}</p>`
            }
        });

        document.getElementById("exportButton")?.addEventListener("click", modalForExport);

        function modalForExport(){
            const modal=document.getElementsByClassName("export-modal");
            modal[0].style.display="flex";
        }

        const cancelButton=document.getElementById("cancelExport");
        cancelButton.addEventListener("click", fecharModal);
        function fecharModal() {
            const modals=document.getElementsByClassName("export-modal");
            
            modals[0].style.display="none";
        }

        let accordions=document.querySelectorAll(".accordions");
        accordions.forEach((accordion, index) => {
            accordion.addEventListener("toggle", () => {
                let summaryIcon=document.getElementById(`summary-aluno-${index}`);

                if(accordion.open) {
                    summaryIcon.innerHTML=`
                    <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        width="24" 
                        height="24" 
                        viewBox="0 0 24 24" 
                        fill="none" 
                        stroke="currentColor" 
                        stroke-width="2" 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        class="lucide lucide-chevron-up"
                    >
                        <path d="m18 15-6-6-6 6"/>
                    </svg>`
                }
                else {
                    summaryIcon.innerHTML=`
                    <svg
                        xmlns="http://www.w3.org/2000/svg" 
                        width="24" 
                        height="24" 
                        viewBox="0 0 24 24" 
                        fill="none" 
                        stroke="currentColor" 
                        stroke-width="2" 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        class="lucide lucide-chevron-down"
                    >
                        <path d="m6 9 6 6 6-6"/>
                    </svg>`
                }
            })
        });


        const editarAluno = document.querySelectorAll(".modal-root")[0];
        const subTitleAlunoModal = document.getElementById("current-aluno");
        const idAlunoModal = document.getElementById("id-aluno");
        const nomeAlunoModal = document.getElementById("nome-aluno");
        const emailAlunoModal = document.getElementById("email-aluno");
        const matriculaAlunoModal = document.getElementById("matricula-aluno");
        const enviarFact = document.querySelectorAll(".modal-root")[1];

        document.querySelectorAll(".close-modal")?.forEach(btn => {
            btn.addEventListener("click", () => {
                editarAluno.classList.remove("active");
            })
        });
        document.querySelectorAll(".cancel-edit")?.forEach(btn => {
            btn.addEventListener("click", () => {
                editarAluno.classList.remove("active");
                enviarFact.classList.remove("active");
            })
        });

        document.getElementById("cancelar-editar-aluno")?.addEventListener("click", () => {
            editarAluno.classList.remove("active");
        })

        document.querySelectorAll(".editarAluno")?.forEach(btn => {
            btn.addEventListener("click", () => {
                editarAluno.classList.add("active");

                subTitleAlunoModal.innerText = btn.dataset.nomealuno;
                idAlunoModal.value = btn.dataset.alunoid;
                nomeAlunoModal.value = btn.dataset.nomealuno;
                emailAlunoModal.value = btn.dataset.emailaluno;
                matriculaAlunoModal.value = btn.dataset.matriculaaluno;
            });
        });


        document.getElementById("generate-fact")?.addEventListener("click", async () => {

            enviarFact.classList.add("active");

        })

        document.getElementById("confirmFact")?.addEventListener("click", async () => {
            console.log("Enviou fact");
            enviarFact.classList.remove("active");
            const res = await fetch("{% url 'feedbackApp:createFact' groupId=group.id %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                }
            });
            console.log("Enviou fact!!!!!!!!!!!");
        })
       
    </script>
{% endblock %}