{% extends 'feedbackApp/base.html' %}
{% load static %}

{% block head%}
    <link rel="stylesheet" href="{% static 'feedbackApp/css/group.css' %}">
    <link rel="stylesheet" href="{% static 'root/styles/animations.css' %}">
    <link rel="stylesheet" href="{% static 'feedbackApp/css/modal.css' %}">
{% endblock %}

{% block content %}
    <main>
        {% if alunos|length < 1 %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label id="uploadfile" for="uploadfileInput">
                    <svg xmlns="http://www.w3.org/2000/svg" width="112" height="112" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-upload"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><polyline points="17 8 12 3 7 8"/><line x1="12" x2="12" y1="3" y2="15"/></svg>
                    Selecione o arquivo Excel
                    <div type="text"></div>
                </label>
                <input id="uploadfileInput" style="display: none;" type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                <button type="submit">Enviar</button>
            </form>

        {% else %}
        <div class="export-modal">  
            
            <div class = "exportar-modal-content">
                <h2>Exportar FaCT</h2>

                <button>FaCT 1</button>
                <button>FaCT 2</button>

                <button id = "cancelExport">Cancelar</button>
            </div>
                
            
        </div>
            <div class = "editar-modal">  
                <div class = "editar-modal-content">
                    <div class = "modalTitleAndSubtitle">
                        <h2>Editar Grupo</h2>
                        <h4>Adicione ou remova alunos do grupo</h4>
                        
                        <h3 id = "descricaoParaRemoverAluno">Selecione o(s) aluno(s) que deseja remover do grupo</h3>
                        <h3 id = "descricaoParaAdicionarAluno">Digite o nome do aluno que deseja adicionar</h3>

                    </div>

                    <div class = "upper-editar-modal">
                        <button id = "adicionarAluno">
                            Adicionar
                        </button>
                        <button id = "deletarAluno">
                            Remover
                        </button>
                    </div>

                    <div id = "displayDeAlunos">

                            <form action="">
                                <input type="text" class = "aluno-unit textBoxNovoAluno">

                            </form>
                        {% for aluno in alunos %}
                            <a class="aluno-unit" data-id="{{ aluno.id }}" data-group-id = "{{group.id}}" >{{ aluno.nome }}</a>
                        {% endfor %}
                    </div>

                    <div class = "bottom-editar-modal">
                        <button id = "cancel-editar">Cancelar</button>
                        <button id = "save">Salvar</button>
                        <button id = "remover-confirmation">Remover</button>
                        <button id = "adicionar-confirmation">Ok</button>
                    </div>
                </div>  
            </div>

            <div class = "groupHeader">
                <h1 id = "groupName" data-group-id = "{{group.id}}">{{ group.nome }}</h1>

                <div class = "myGroupButtons">
                    <button id = "exportButton">Exportar FACT</button>
                    <button>Gerar FACT</button>
                    <button id = "toEdit">Editar</button>
                </div>
            </div>

            <div class="alunos-container">
                <h2>Alunos</h2>
                {% for aluno in alunos %}
                    <details class="accordions">
                        <summary>
                            {{aluno.nome}}
                            <div id="summary-aluno-{{ forloop.counter0 }}">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg" 
                                    width="24" 
                                    height="24" 
                                    viewBox="0 0 24 24" 
                                    fill="none" 
                                    stroke="currentColor" 
                                    stroke-width="2" 
                                    stroke-linecap="round" 
                                    stroke-linejoin="round" 
                                    class="lucide lucide-chevron-down"
                                >
                                    <path d="m6 9 6 6 6-6"/>
                                </svg>
                            </div>
                        </summary>
                        <div class="notas-aluno">
                            <div class="notas">
                                <h5>FaCT 1</h5>
                                <p>{{aluno.sr1}}</p>
                            </div>

                            <hr>

                            <div class="notas">
                                <h5>FaCT 2</h5>
                                <p>{{aluno.sr2}}</p>
                            </div>

                            <hr>

                            <div class="notas">
                                <h5>Media Final</h5>
                                <p>{{aluno.media}}</p>
                            </div>
                        </div>
                    </details>
                {% endfor %}
            </div>
        {% endif %}
    </main>
{% endblock %}

{% block script %}
    {% if messages %}
        {% for message in messages %}
            <script>
                alert("{{message}}")
            </script>
        {% endfor %}
    {% endif %}
    
    <script>
        const upload = document.getElementById("uploadfileInput");
        const uploadLabel = document.getElementById("uploadfile");

        upload?.addEventListener("change", (event) => {
            const file = event.target.files[0];
            if(file) {
                uploadLabel.innerHTML = `<p class="currentFile">${file.name}</p>`
            }
        });

    </script>


    <script>

        document.getElementById("exportButton")?.addEventListener("click", modalForExport);

        function modalForExport(){
            const modal = document.getElementsByClassName("export-modal");
            modal[0].style.display = "flex";
        }



        const cancelButton = document.getElementById("cancelExport");
        cancelButton.addEventListener("click", fecharModal);
        function fecharModal() {
                const modals = document.getElementsByClassName("export-modal");
                
                modals[0].style.display = "none";
        }


    </script>

    <script>
        document.getElementById("cancel-editar")?.addEventListener("click", fecharModalDeEditar)

        function cancelAndTurnModalDeEditarBackToBase(){ 
            
            document.getElementById("descricaoParaRemoverAluno").style.display = "none";
            document.getElementById("descricaoParaAdicionarAluno").style.display = "none";

            document.getElementsByClassName("upper-editar-modal")[0].style.display = "flex";
            document.getElementById("adicionarAluno").style.display = "flex";
            document.getElementById("deletarAluno").style.display = "flex";

            alunos = document.getElementsByClassName("aluno-unit");

            for (let i = 0; i < alunos.length; i++){
                alunos[i].classList.remove("deletarAlunoActive");
                alunos[i].classList.remove("selectedToDelete");
                alunos[i].style.color = "var(--zinc400)";
                alunos[i].style.borderColor = "#000000"; 
                alunos[i].style.borderStyle = "none";
                alunos[i].style.borderWidth = "100%";
                //if aluno[i] for um dos adicionados, delete a div
            }

            document.getElementById("save").style.display = "flex";
            document.getElementById("remover-confirmation").style.display = "none";
            document.getElementById("adicionar-confirmation").style.display = "none";

        }

        function removeAndTurnModalDeEditarBackToBase(){
            
            document.getElementById("descricaoParaRemoverAluno").style.display = "none";
            document.getElementById("descricaoParaAdicionarAluno").style.display = "none";
            
            document.getElementsByClassName("upper-editar-modal")[0].style.display = "flex";
            document.getElementById("adicionarAluno").style.display = "flex";
            document.getElementById("deletarAluno").style.display = "flex";
            
            alunos = document.getElementsByClassName("aluno-unit");

            for (let i = 0; i < alunos.length; i++){
                alunos[i].classList.remove("deletarAlunoActive");
                alunos[i].style.color = "var(--zinc400)";
                alunos[i].style.borderColor = "#000000"; 
                alunos[i].style.borderStyle = "none";
                alunos[i].style.borderWidth = "100%";

                if (alunos[i].classList.contains("selectedToDelete")){
                    alunos[i].style.color = "red";
                }


            }

            document.getElementById("save").style.display = "flex";
            document.getElementById("remover-confirmation").style.display = "none";
            document.getElementById("adicionar-confirmation").style.display = "none";
        
        }

        document.getElementById("remover-confirmation").addEventListener("click", removeAndTurnModalDeEditarBackToBase);

        function modalSubtitleReset(){

            document.getElementById("descricaoParaRemoverAluno").style.display = "none";
            document.getElementById("descricaoParaAdicionarAluno").style.display = "none";

            document.getElementsByClassName("upper-editar-modal")[0].style.display = "flex";
            document.getElementById("adicionarAluno").style.display = "flex";
            document.getElementById("deletarAluno").style.display = "flex";

        }
        

        function fecharModalDeEditar(){
            console.log("DOES THIS WORK?");

            if (this.classList.contains("cancelDeleteHasBeenToggled")){
                console.log("I got in the if");
                 
                alunosUnit = document.getElementsByClassName("aluno-unit");
                for (var i = 0; i < alunosUnit.length; i++){
                    alunosUnit[i].classList.remove("selectedToDelete");
                }
                cancelAndTurnModalDeEditarBackToBase();
                this.classList.remove("cancelDeleteHasBeenToggled");
                return;
            }

            if (document.getElementsByClassName("textBoxNovoAluno")[0].style.display == "flex"){

                modalSubtitleReset();
                document.getElementsByClassName("textBoxNovoAluno")[0].style.display = "none";
                document.getElementById("adicionar-confirmation").style.display = "none";
                document.getElementById("save").style.display = "flex";
                return;
            }
            
            document.getElementsByClassName("editar-modal")[0].style.display = "none";
        }


        document.getElementById("toEdit").addEventListener("click", abrirModal)

        function abrirModal(){
            console.log("abrindo Modal do edit!");
            document.getElementsByClassName("editar-modal")[0].style.display = "flex";
        }
        </script>
        <script>
        let accordions = document.querySelectorAll(".accordions");
        accordions.forEach((accordion, index) => {
            accordion.addEventListener("toggle", () => {
                let summaryIcon = document.getElementById(`summary-aluno-${index}`);

                if(accordion.open) {
                    summaryIcon.innerHTML = `
                    <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        width="24" 
                        height="24" 
                        viewBox="0 0 24 24" 
                        fill="none" 
                        stroke="currentColor" 
                        stroke-width="2" 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        class="lucide lucide-chevron-up"
                    >
                        <path d="m18 15-6-6-6 6"/>
                    </svg>`
                }
                else {
                    summaryIcon.innerHTML = `
                    <svg
                        xmlns="http://www.w3.org/2000/svg" 
                        width="24" 
                        height="24" 
                        viewBox="0 0 24 24" 
                        fill="none" 
                        stroke="currentColor" 
                        stroke-width="2" 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        class="lucide lucide-chevron-down"
                    >
                        <path d="m6 9 6 6 6-6"/>
                    </svg>`
                }
            })
        })

    </script>

    <script>
    
        function activateToDelete() {

        let botoesDeCima = document.getElementsByClassName("upper-editar-modal")[0];
        botoesDeCima.style.display = "none";

        let descricaoRemover = document.getElementById("descricaoParaRemoverAluno");
        descricaoRemover.style.display = "flex";

        document.getElementById("save").style.display = "none";
        document.getElementById("remover-confirmation").style.display = "flex";

        document.getElementById("cancel-editar").classList.add("cancelDeleteHasBeenToggled");
        const allAlunosToDelete = document.getElementsByClassName("aluno-unit");

        for (let i = 0; i < allAlunosToDelete.length; i++) {
            allAlunosToDelete[i].classList.add("deletarAlunoActive");
        }

        var alunosParaSeremDeletados = Array.from(document.getElementsByClassName("deletarAlunoActive"));

        alunosParaSeremDeletados.forEach(function(aluno) {
            aluno.addEventListener("click", function() {

                if(this.classList.contains("deletarAlunoActive")){
                    console.log("Clicked: ", this);
                    
                    this.style.borderColor = "blue";
                    this.style.borderStyle = "solid";
                    this.style.borderWidth = "2px";
                    this.classList.toggle("selectedToDelete");
                }

            });
        });
    }

    document.getElementById("deletarAluno").addEventListener("click", activateToDelete);

    function activateToAdd(){
        let botoesDeCima = document.getElementsByClassName("upper-editar-modal")[0];
        botoesDeCima.style.display = "none";

        let descricaoRemover = document.getElementById("descricaoParaAdicionarAluno");
        descricaoRemover.style.display = "flex";

        document.getElementById("save").style.display = "none";
        document.getElementById("adicionar-confirmation").style.display = "flex";


        document.getElementsByClassName("textBoxNovoAluno")[0].style.display = "flex";
    }

    document.getElementById("adicionarAluno").addEventListener("click", activateToAdd);

    function addedAlunoToList(){
        let nomeDoAluno = document.getElementsByClassName("textBoxNovoAluno")[0].value;
        var novaDiv = document.createElement("a"); //
        var container = document.getElementById("displayDeAlunos");

        novaDiv.textContent = nomeDoAluno;
        novaDiv.classList.add("aluno-unit");
        novaDiv.classList.add("aluno-to-be-added");
        container.insertBefore(novaDiv, container.children[1]);
        
        modalSubtitleReset();
        document.getElementById("adicionar-confirmation").style.display = "none";
        document.getElementById("save").style.display = "flex";
        document.getElementsByClassName("textBoxNovoAluno")[0].value = "";
        document.getElementsByClassName("textBoxNovoAluno")[0].style.display = "none";

    }    

    document.getElementById("adicionar-confirmation").addEventListener("click", addedAlunoToList); // this is where we add the blue ones

        
    document.getElementById("save").addEventListener("click", async () =>{

        let selectedAlunosToDelete = document.querySelectorAll(".aluno-unit.selectedToDelete");
        let selectedAlunosToAdd = document.querySelectorAll(".aluno-unit.aluno-to-be-added");
        let alunoIdsParaDeletar = [];
        let alunoNomesParaAdicionar = [];

        selectedAlunosToDelete.forEach(aluno => {
            
            alunoIdsParaDeletar.push(aluno.dataset.id); //push é igual ao append de python
                                            //dataset é uma propriedade do js que pega todos os data do html. eu posso escrever data-id, data-teste, data-oi no html
        });

        selectedAlunosToAdd.forEach(aluno =>{
            alunoNomesParaAdicionar.push(aluno.textContent.trim()); // push names to the add array
    });

    let groupId = document.getElementById("groupName").dataset.groupId;
    let urlParaDeletar = `${groupId}/delete_alunos/`;
    let urlParaAdicionar = `${groupId}/add_alunos/`;
    let urlParaRetornar = `${groupId}`;

    console.log("teste");
    console.log("URL pra deletar:", urlParaDeletar);
    console.log("URL pra add:", urlParaAdicionar);

    
    if (alunoIdsParaDeletar.length > 0) {
        console.log("alunoIdsParaDeletar: " , alunoIdsParaDeletar);
        await fetch(urlParaDeletar, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: JSON.stringify({ ids: alunoIdsParaDeletar })
        })
        .then(response => response.json());
    }

    
    if (alunoNomesParaAdicionar.length > 0) {
        await fetch(urlParaAdicionar, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: JSON.stringify({ names: alunoNomesParaAdicionar, group: groupId})
        })
        .then(response => response.json());
    }

    
    window.location.href = urlParaRetornar;
    });

    </script>
{% endblock %}