{% extends 'feedbackApp/base.html' %}
{% load static %}

{% block head%}
    <link rel="stylesheet" href="{% static 'feedbackApp/css/group.css' %}">
    <link rel="stylesheet" href="{% static 'root/styles/animations.css' %}">
    <link rel="stylesheet" href="{% static 'feedbackApp/css/modal.css' %}">
{% endblock %}

{% block content %}
    <main>
        {% if alunos|length < 1 %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label id="uploadfile" for="uploadfileInput">
                    <svg xmlns="http://www.w3.org/2000/svg" width="112" height="112" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-upload"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><polyline points="17 8 12 3 7 8"/><line x1="12" x2="12" y1="3" y2="15"/></svg>
                    Selecione o arquivo Excel
                    <div type="text"></div>
                </label>
                <input id="uploadfileInput" style="display: none;" type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                <button type="submit">Enviar</button>
            </form>

        {% else %}
        <div class="export-modal">  
            <div style="margin-bottom: 20px;">
                <div style="margin-bottom: 10px;">
                    <h1 style="margin-bottom: 10px;">Exportar FaCT</h1>
                    <button class="statusReportButton" style="margin-bottom: 10px;">Status Report 1</button>
                    <button class="statusReportButton" style="margin-bottom: 10px;">Status Report 2</button>
                </div>
                
                <button id="cancelExport" style="margin-top: 20px;">Cancelar</button>
            </div>  
        </div>

            <div class = "editar-modal">  
                <div class = "editar-modal-content">
                    <div class = "upper-editar-modal">
                        <button id = "adicionarAluno">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-plus"
                            >
                                <path d="M5 12h14"/>
                                <path d="M12 5v14"/>
                            </svg>
                        </button>
                        <button id = "deletarAluno">
                            Deletar
                        </button>
                        <button id = "deletarAlunoActive">
                            Deletar
                        </button>
                    </div>
                    <div id = "displayDeAlunos">
                        {% for aluno in alunos %}
                        <a class="aluno-unit">{{ aluno.nome }}</a>
                        
                        <a href="{% url 'feedbackApp:deleteAluno' alunoId=aluno.id  %}"class="deleteAluno"> <p>{{aluno.nome}}</p> </a>
                        {% endfor %}

                    </div>
                    <div class = "bottom-editar-modal">
                        <button id = "save">Salvar</button>
                        <button id = "cancel-editar">Cancelar</button>
                    </div>
                    <div class = bottom-editar-modal2>
                        <button id = "cancel-editar">Cancelar</button>
                        <button id = "cancel-editar">lixinho</button>
                    </div>
                </div>  
            </div>

            <div class = "groupHeader">
                <h1>{{ group.nome }}</h1>

                <div class = "myGroupButtons">
                    <button id = "exportButton">Exportar FACT</button>
                    <button>Gerar FACT</button>
                    <button id = "toEdit">Editar</button>
                </div>
            </div>

            <div class="alunos-container">
                <h2>Alunos</h2>
                {% for aluno in alunos %}
                    <details class="accordions">
                        <summary>
                            {{aluno.nome}}
                            <div id="summary-aluno-{{ forloop.counter0 }}">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg" 
                                    width="24" 
                                    height="24" 
                                    viewBox="0 0 24 24" 
                                    fill="none" 
                                    stroke="currentColor" 
                                    stroke-width="2" 
                                    stroke-linecap="round" 
                                    stroke-linejoin="round" 
                                    class="lucide lucide-chevron-down"
                                >
                                    <path d="m6 9 6 6 6-6"/>
                                </svg>
                            </div>
                        </summary>
                        <div class="notas-aluno">
                            <div class="notas">
                                <h5>Status Report 1</h5>
                                <p>{{aluno.sr1}}</p>
                            </div>

                            <hr>

                            <div class="notas">
                                <h5>Status Report 2</h5>
                                <p>{{aluno.sr2}}</p>
                            </div>

                            <hr>

                            <div class="notas">
                                <h5>Media Final</h5>
                                <p>{{aluno.media}}</p>
                            </div>
                        </div>
                    </details>
                {% endfor %}
            </div>
        {% endif %}
    </main>

    <div class="background"></div>
{% endblock %}

{% block script %}
    {% if messages %}
        {% for message in messages %}
            <script>
                alert("{{message}}")
            </script>
        {% endfor %}
    {% endif %}
    
    <script>
        const upload = document.getElementById("uploadfileInput");
        const uploadLabel = document.getElementById("uploadfile");

        upload?.addEventListener("change", (event) => {
            const file = event.target.files[0];
            if(file) {
                uploadLabel.innerHTML = `<p class="currentFile">${file.name}</p>`
            }
        });

        document.getElementById("exportButton")?.addEventListener("click", modalForExport);

        function modalForExport(){
            const modal = document.getElementsByClassName("export-modal");
            modal[0].style.display = "flex";
        }
        
        
        document.addEventListener("DOMContentLoaded", () => { // n tava funcionando sem esperar o DOM
            const cancelButton = document.getElementById("cancelExport");
            cancelButton.addEventListener("click", fecharModal);
            function fecharModal() {
                console.log("can you listen to this click?");
                const modals = document.getElementsByClassName("export-modal");
                console.log(modals); 
                if (modals.length > 0) {
                    modals[0].style.display = "none";
                }
            }
        });

        document.getElementById("cancel-editar")?.addEventListener("click", fecharModal2)

        function fecharModal2(){
            console.log("DOES THIS WORK?");
            document.getElementsByClassName("editar-modal")[0].style.display = "none";
        }

        document.getElementById("toEdit").addEventListener("click", abrirModal)

        function abrirModal(){
            console.log("abrindo Modal do edit!");
            document.getElementsByClassName("editar-modal")[0].style.display = "flex";
        }

        let accordions = document.querySelectorAll(".accordions");
        accordions.forEach((accordion, index) => {
            accordion.addEventListener("toggle", () => {
                let summaryIcon = document.getElementById(`summary-aluno-${index}`);

                if(accordion.open) {
                    summaryIcon.innerHTML = `
                    <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        width="24" 
                        height="24" 
                        viewBox="0 0 24 24" 
                        fill="none" 
                        stroke="currentColor" 
                        stroke-width="2" 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        class="lucide lucide-chevron-up"
                    >
                        <path d="m18 15-6-6-6 6"/>
                    </svg>`
                }
                else {
                    summaryIcon.innerHTML = `
                    <svg
                        xmlns="http://www.w3.org/2000/svg" 
                        width="24" 
                        height="24" 
                        viewBox="0 0 24 24" 
                        fill="none" 
                        stroke="currentColor" 
                        stroke-width="2" 
                        stroke-linecap="round" 
                        stroke-linejoin="round" 
                        class="lucide lucide-chevron-down"
                    >
                        <path d="m6 9 6 6 6-6"/>
                    </svg>`
                }
            })
        })

    </script>

    <script>
        function activateToDelete(action){
            allAlunosToHide = document.getElementsByClassName("aluno-unit")
            allAlunosToShow = document.getElementsByClassName("deleteAluno")

            document.getElementById("deletarAluno").style.display = "none";
            document.getElementById("deletarAlunoActive").style.display = "flex";

            for(let i = 0; i < allAlunosToHide.length; i++){

                allAlunosToHide[i].style.display = "none";
                allAlunosToShow[i].style.display = "flex";
            }

        }
        function deactivateToDelete(action){
            allAlunosToHide = document.getElementsByClassName("aluno-unit")
            allAlunosToShow = document.getElementsByClassName("deleteAluno")

            document.getElementById("deletarAluno").style.display = "flex";
            document.getElementById("deletarAlunoActive").style.display = "none";

            for(let i = 0; i < allAlunosToHide.length; i++){

                allAlunosToHide[i].style.display = "flex";
                allAlunosToShow[i].style.display = "none";
            }

        }

        document.getElementById("deletarAluno")?.addEventListener("click", activateToDelete);
        document.getElementById("deletarAlunoActive")?.addEventListener("click", deactivateToDelete);
    </script>
{% endblock %}